<ion-header >
  <ion-toolbar color="tertiary">
    <ion-title>
      Qr App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://i.gifer.com/origin/22/22db2e3aeb47288465742da4caa3f571_w200.gif" />
      <ion-card-header>
        <ion-card-title>pato pato</ion-card-title>
        <ion-card-subtitle>te pateara el santo pato</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        bailandoo bailandoo
      </ion-card-content>
      <ion-button [routerLink]="['/data1']" (click)="navegar()" expand="block">vamos a bailar?</ion-button>
      <ion-button routerLink="/data2" expand="block">paras de bailar?</ion-button>
      <ion-button routerLink="/data3" expand="block">vuelas?</ion-button>
    </ion-card>
  </div>
</ion-content>
