<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>data3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">data2</ion-title>
    </ion-toolbar>
  </ion-header>



<div id="container">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://media1.tenor.com/m/-Z_C0cVmktgAAAAC/kirby-ctm.gif" />
    <ion-card-header>
      <ion-card-title>aaaaaaaaaaaaaaaaaaa</ion-card-title>
      <ion-card-subtitle>AAAAAAAAAAAAAAAAAAAAAAAAAA</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    </ion-card-content>
    <ion-button routerLink="/home">volver</ion-button>
  </ion-card>
</div>
</ion-content>


