<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">
      <span class="duoc-text">Duoc</span><span class="uc-text"> UC</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">data1</ion-title>
    </ion-toolbar>
  </ion-header>
  

  
<ion-content class="ion-padding ion-text-center">
  <!-- ===== SEGMENTOS ===== -->
  <ion-segment [(ngModel)]="segment" >
  
    <ion-segment-button value="scanear">
      <ion-label>Escanear QR</ion-label>
    </ion-segment-button>

    <ion-segment-button value="generar">
      <ion-label>Generar QR</ion-label>
    </ion-segment-button>

  </ion-segment>

  <!-- ===== ESCANEAR QR ====== -->
    <div *ngIf="segment=== 'scanear' ">
      este segmento es de Escanear

    </div>
  <!-- ===== GENERAR QR QR ====== -->
    <div class="segment" *ngIf="segment=== 'generar' ">
      <div class="segment-content">
        <div id="QrImagen">
          <div class="d-flex-center">
            <div class="d-flex-center qr-wrapper">
              <qr-code  *ngIf="QrText" [value]="QrText" 
              size="190" 
              errorCorrectionLevel="M" />
              <img *ngIf="!QrText" class="qr-placeholder" src="assets/images/qr.webp" alt="">
            </div>

          </div>
          <div class="ion-padding-top">{{QrText}}</div>
        </div>
        <br>
        <ion-textarea label="ASIGNATURA" labelPlacement="stacked" fill="outline" [(ngModel)]="text1" rows="4" [autoGrow]="true"></ion-textarea>
        <br>
        <ion-textarea label="PROFESOR" labelPlacement="stacked" fill="outline" [(ngModel)]="text2" rows="4" [autoGrow]="true"></ion-textarea>
        <br>
        <ion-textarea label="CURSO" labelPlacement="stacked" fill="outline" [(ngModel)]="text3" rows="4" [autoGrow]="true"></ion-textarea>
      </div>


      <!-- ===== COMPARTIR EL QR ===== -->
      <ion-button (click)="generateQR()" *ngIf="QrText" class="submit ion-margin-top" expand="block" >
        GENERAR QR 
        
       </ion-button>

      <ion-button (click)="CaptureScrean()" *ngIf="QrText" class="submit ion-margin-top" expand="block" >
       Compartir
       <ion-icon slot="end" name="share-social-outline"></ion-icon>
      </ion-button>
    </div>

    <!-- Tarjeta con imagen y botón para regresar -->
    <div id="container">
      <ion-card>

        <!-- Botón para volver a la página principal -->
        <ion-button routerLink="/home">Volver</ion-button>
      </ion-card>
    </div>
  </ion-content>
</ion-content>
