<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>data1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">data1</ion-title>
    </ion-toolbar>
  </ion-header>
  

  

<div id="container">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://gifdb.com/images/high/hilarious-pocoyo-and-pato-dance-ys74kcjqg76uwais.gif" />
    <ion-card-header>
      <ion-card-title>pato feliz</ion-card-title>
      <ion-card-subtitle>vamos a festejar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      OBVIAMENTE VAMOS A BAILAR MUEVE ESE CUERPASO con {{omega.names}}
    </ion-card-content>
    <ion-button routerLink="/home">volver</ion-button>
  </ion-card>
</div>
</ion-content>
